<script>
  var countCasesJSON = JSON.parse('<%= @count_cases.html_safe %>');
</script>

<div class="row">
	<div class="col-sm-12">
		<div class="page-title-box">
			<h4 class="page-title"><%= t('litigants.top_demanded_ruts') %></h4>
		</div>
	</div>
</div>

<div class="row">
	<div class="col-12">
		<div class="card-box">
      <div class="table-responsive">
        <h4 class='number_of_cases'><%= t('litigants.number_of_cases') %>: <%= @number_of_cases %></h4>
        <table class="table table-bordered toggle-circle m-b-0 m-t-20 count-cases-table"
          data-paging="true" data-sorting="true" data-paging-size="15" data-paging-limit="5">
        </table>
      </div>
			<div class="last-update text-muted">
				<%= t('datetime.last_update') %> <%= distance_of_time_in_words(Time.now, Time.at(@count_cases_updated_at)) %>
			</div>
			<div class="update-data m-t-10">
				<%= link_to t('buttons.update_data'), update_cache_laboral_litigants_path,
					class: "btn btn-sm btn-primary btn-custom waves-effect waves-light w-md",
					method: :post %>
			</div>
		</div>
	</div>
</div>