<div class="text-left m-t-20">
  <p class="text-muted font-13"><strong>Company ID:</strong> <span><%= user.company_id %></span></p>
  <p class="text-muted font-13"><strong>Email:</strong> <span><%= user.email %></span></p>
  <p class="text-muted font-13"><strong>Country:</strong> <span><%= user.country %></span></p>
  <p class="text-muted font-13"><strong>City:</strong> <span><%= user.city %></span></p>
  <p class="text-muted font-13"><strong>Address:</strong> <span><%= user.address %></span></p>
  <p class="text-muted font-13"><strong>Phone Number:</strong> <span><%= user.phone_number %></span></p>
  <p class="text-muted font-13"><strong>Position:</strong> <span><%= user.position %></span></p>
  <p class="text-muted font-13"><strong>User Type:</strong> <span><%= User::ROLES[user.role.to_sym] %></span></p>
</div>