<div class="text-left m-t-20">
  <p class="text-muted font-13"><strong><%= t('menu.company_id') %>:</strong> <span><%= user.company_id %></span></p>
  <p class="text-muted font-13"><strong>Email:</strong> <span><%= user.email %></span></p>
  <p class="text-muted font-13"><strong><%= t('menu.country') %>:</strong> <span><%= user.country %></span></p>
  <p class="text-muted font-13"><strong><%= t('menu.city') %>:</strong> <span><%= user.city %></span></p>
  <p class="text-muted font-13"><strong><%= t('menu.address') %>:</strong> <span><%= user.address %></span></p>
  <p class="text-muted font-13"><strong><%= t('menu.phone_number') %>:</strong> <span><%= user.phone_number %></span></p>
  <p class="text-muted font-13"><strong><%= t('menu.role') %>:</strong> <span><%= user.position %></span></p>
  <p class="text-muted font-13"><strong><%= t('menu.type_of_user') %>:</strong> <span><%= User::ROLES[user.role.to_sym] %></span></p>
</div>