<script>
  var topDefendantRutsJSON = JSON.parse('<%= @cached_data[:data].to_json.html_safe %>')
</script>

<div class="row">
	<div class="col-sm-12">
		<div class="page-title-box">
			<h4 class="page-title"><%= t('litigants.top_demanded_ruts') %></h4>
		</div>
	</div>
</div>
<div class="row litigants-index">
	<div class="col-12">
		<div class="card-box">
			<form class="form-horizontal">
				<div class="form-group">
					<div class="m-b-20">
						<input type="text" class="top_defendant_ruts__slider">
					</div>
				</div>
			</form>
			<i class='number_of_cases pull-right'><%= t('litigants.number_of_cases') %>: <%= @cached_data[:total] %></i>
      <div class="table-responsive">
        <table class="table table-bordered toggle-circle m-b-0 m-t-20 count-cases-table"
          data-paging="true" data-sorting="true" data-paging-size="15" data-paging-limit="5">
        </table>
      </div>
			<div class="last-update text-muted">
				<%= t('datetime.last_update') %>
				<%= distance_of_time_in_words(Time.now, Time.at(@cached_data[:updated_at].to_i)) %>
			</div>
			<div class="update-data m-t-10">
				<%= link_to t('buttons.update_data'), dashboards_refresh_path(dashboard: 'top_defendant_ruts'),
					class: "btn btn-sm btn-primary btn-custom waves-effect waves-light w-md update-cache",
					remote: true,
					data: { 'disable-with' => 'Updating...' },
					method: :post %>
			</div>
		</div>
	</div>
</div>