<%= form_for([:admin, @user], html: { class: "form-horizontal m-t-20" }) do |f| %>
  <% if @user.errors.any? %>
    <% @user.errors.full_messages.each do |error| %>
      <%= error %>
    <% end %>
  <% end %>
  <div class="form-group row">
    <div class="col-12">
      <div class="input-group">
        <%= f.email_field :email, autofocus: true, class: "form-control", type: "email",
          required: "", placeholder: "Email" %>
      </div>
    </div>
  </div>

  <div class="form-group row">
    <div class="col-12">
      <div class="input-group">
        <%= f.text_field :company, class: "form-control", required: "", placeholder: t('menu.company') %>
      </div>
    </div>
  </div>

  <div class="form-group row">
    <div class="col-12">
      <div class="input-group">
        <%= f.text_field :company_id, class: "form-control", required: "", placeholder: t('menu.company_id') %>
      </div>
    </div>
  </div>

  <div class="form-group row">
    <div class="col-12">
      <div class="input-group">
        <%= f.text_field :address, class: "form-control", required: "", placeholder: t('menu.address') %>
      </div>
    </div>
  </div>

  <div class="form-group row">
    <div class="col-12">
      <div class="input-group">
        <%= f.text_field :country, class: "form-control", required: "", placeholder: t('menu.country') %>
      </div>
    </div>
  </div>

  <div class="form-group row">
    <div class="col-12">
      <div class="input-group">
        <%= f.text_field :city, class: "form-control", required: "", placeholder: t('menu.city') %>
      </div>
    </div>
  </div>

  <div class="form-group row">
    <div class="col-12">
      <div class="input-group">
        <%= f.telephone_field :phone_number, class: "form-control", required: "",
          placeholder: t('menu.phone_number') %>
      </div>
    </div>
  </div>

  <div class="form-group row">
    <div class="col-12">
      <div class="input-group">
        <%= f.text_field :position, class: "form-control", required: "", placeholder: t('menu.role') %>
      </div>
    </div>
  </div>

  <div class="form-group row">
    <div class="col-12">
      <div class="input-group">
        <%= f.select :role,
          options_for_select(User::ROLES.collect {|role| [role[1], role[0]] }, selected: @user.role),
          {},
          { class: "form-control", placeholder: t('menu.type_of_user') }
        %>
      </div>
    </div>
  </div>

  <div class="form-group row">
    <div class="col-12">
      <div class="input-group">
        <%= f.select :whitelisted_litigators_ruts,
          options_for_select(@user.whitelisted_litigators_for_select, selected: @user.selected_whitelisted_litigators),
          { multiple: true },
          { class: "allowed-ruts-select2 select2-multiple", multiple: "multiple", placeholder: t('menu.allowed_ruts') }
        %>
      </div>
    </div>
  </div>

  <% if @user.new_record? %>
    <div class="form-group row">
      <div class="col-12">
        <div class="input-group">
          <%= f.password_field :password, autocomplete: "off",
            class: "form-control", type: "password", required: true,
              placeholder: "#{t('menu.password')} (#{t('notices.min')} 6 #{t('notices.char')})" %>
        </div>
      </div>
    </div>

  <% else %>

    <div class="form-group">
      <%= f.password_field :password, autocomplete: "off", class:"form-control",
        placeholder: "#{t('menu.password')} (#{t('notices.blank_password')})" %>
      <% if @minimum_password_length %>
        <em class='text-muted'><%= "#{t('notices.min')} #{@minimum_password_length} #{t('notices.char')}" %>
        </em>
      <% end %>
    </div>

    <div class="form-group">
      <%= f.password_field :password_confirmation, autocomplete: "off", class:"form-control",
        placeholder: t('menu.password_confirmation') %>
    </div>

  <% end %>

  <div class="form-group text-right m-t-20">
    <div class="col-xs-12">
      <%= f.button t('buttons.save'), class: "btn btn-primary btn-custom waves-effect waves-light w-md",
        type: "submit" %>
    </div>
  </div>
<% end %>