<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>DeepLegal</title>
    <%= csrf_meta_tags %>

    <%= favicon_link_tag 'favicon.ico' %>
    <%= stylesheet_link_tag 'application', media: 'all' %>
  </head>

  <body>
    <!-- Navigation Bar-->
		<header id="topnav">
			<div class="topbar-main">
				<div class="container-fluid">

					<div class="logo">
						<%= link_to root_path, class: "logo" do %>
							<span class="logo-small"><i class="mdi mdi-radar"></i></span>
							<span class="logo-large"><i class="mdi mdi-radar"></i> DeepLegal</span>
						<% end %>
					</div>

					<div class="menu-extras topbar-custom">
						<ul class="list-inline float-right mb-0">
							<li class="list-inline-item dropdown notification-list">
								<a class="nav-link dropdown-toggle waves-effect nav-user" data-toggle="dropdown" href="#" role="button"
								   aria-haspopup="false" aria-expanded="false">
									<%= current_user.email %>
								</a>
								<div class="dropdown-menu dropdown-menu-right profile-dropdown " aria-labelledby="Preview">
									<%= link_to edit_user_registration_path, method: :get, class: "dropdown-item notify-item" do %>
										<i class="mdi mdi-account"></i> <span>Profile</span>
									<% end %>

									<%= link_to destroy_user_session_path, method: :delete, class: "dropdown-item notify-item" do %>
										<i class="mdi mdi-logout"></i> <span>Logout</span>
									<% end %>
								</div>
							</li>

						</ul>
					</div>
					<div class="clearfix"></div>
				</div> <!-- end container -->
			</div>

			<div class="navbar-custom">
				<div class="container-fluid">
					<div id="navigation">
						<!-- Navigation Menu-->
						<ul class="navigation-menu">

							<li class="has-submenu">
								<%= link_to root_path do %>
									<i class="ti-home"></i>
									Dashboard
								<% end %>
							</li>

						</ul>
						<!-- End navigation menu -->
					</div> <!-- end #navigation -->
				</div> <!-- end container -->
			</div> <!-- end navbar-custom -->
		</header>
		<!-- End Navigation Bar-->

		<div class="wrapper">
			<div class="container-fluid">
				<% if notice %>
    			<p class="alert alert-info system-alert"><%= notice %></p>
				<% end %>
				<% if alert %>
    			<p class="alert alert-warning system-alert"><%= alert %></p>
				<% end %>
				<%= yield %>
			</div> <!-- end container -->
		</div>
		<!-- end wrapper -->

		<!-- Footer -->
		<footer class="footer">
			<div class="container">
				<div class="row">
					<div class="col-12 text-center">
						2018 © DeepLegal
					</div>
				</div>
			</div>
		</footer>
		<!-- End Footer -->

    <%= javascript_include_tag 'application' %>

		<script type="text/javascript">
			jQuery(document).ready(function($) {
				$('.counter').counterUp({
					delay: 100,
					time: 1200
				});
				$('.circliful-chart').circliful();
			});

			// BEGIN SVG WEATHER ICON
			if (typeof Skycons !== 'undefined'){
				var icons = new Skycons(
						{"color": "#3bafda"},
						{"resizeClear": true}
						),
						list  = [
							"clear-day", "clear-night", "partly-cloudy-day",
							"partly-cloudy-night", "cloudy", "rain", "sleet", "snow", "wind",
							"fog"
						],
						i;

				for(i = list.length; i--; )
					icons.set(list[i], list[i]);
				icons.play();
			};

		</script>
  </body>
</html>
